In [1]:
import pandas as pd

data = pd.read_pickle("petition_data_sample.pkl")
data.head()

,code,sdays,edays,title,count,content,category,progress,link
0,543000,2019-03-01,2019-03-31,용인 D대학의 갑질을 고발합니다. 제 동생의 억울함을 풀수있도록 도와주세요!,1172,\n\t\t\t\t\t\t\t\t\t\t안녕하세요 저는 학생을 상대로 한 학교와 교...,기타,청원종료,https://www1.president.go.kr/petitions/543000
1,543001,2019-03-01,2019-03-31,미세먼지 정말 방법이 없는건가요. 안하는 건가요.,29,\n\t\t\t\t\t\t\t\t\t\t33살. 21개월 아들 하나있는 집의 가장입...,미래,청원종료,https://www1.president.go.kr/petitions/543001
2,543002,2019-03-01,2019-03-31,트럼프 대통령!...견조 하십니다.!,0,"\n\t\t\t\t\t\t\t\t\t\t미국 대통령,트럼프를 평함에 갑론을박이 당연...",외교/통일/국방,청원종료,https://www1.president.go.kr/petitions/543002
3,543003,2019-03-01,2019-03-31,어린이집 교사 대표 원장등 인성교육좀 해주세요,7,\n\t\t\t\t\t\t\t\t\t\t어린이집 대표등 특히 남자 \r\n청주시 *...,육아/교육,청원종료,https://www1.president.go.kr/petitions/543003
4,543004,2019-03-01,2019-03-31,"운전직 종사자 인권, 복지, 근로여건, 처우개선",6,\n\t\t\t\t\t\t\t\t\t\t선진국이라고 자부하는 대한민국 정말 놀라울 ...,인권/성평등,청원종료,https://www1.president.go.kr/petitions/543004

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24196 entries, 0 to 24195
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   code      24196 non-null  object
 1   sdays     15824 non-null  object
 2   edays     15824 non-null  object
 3   title     24196 non-null  object
 4   count     15824 non-null  object
 5   content   24196 non-null  object
 6   category  24196 non-null  object
 7   progress  24196 non-null  object
 8   link      24196 non-null  object
dtypes: object(9)
memory usage: 1.7+ MB

In [3]:
data.isnull().sum()

code           0
sdays       8372
edays       8372
title          0
count       8372
content        0
category       0
progress       0
link           0
dtype: int64

In [4]:
data[data['count'].isnull()]

         code sdays edays  title count content category progress   link
5      543005  None  None  비공개처리  None   비공개처리    비공개처리    비공개처리  비공개처리
6      543006  None  None  비공개처리  None   비공개처리    비공개처리    비공개처리  비공개처리
7      543007  None  None  비공개처리  None   비공개처리    비공개처리    비공개처리  비공개처리
8      543008  None  None  비공개처리  None   비공개처리    비공개처리    비공개처리  비공개처리
9      543009  None  None  비공개처리  None   비공개처리    비공개처리    비공개처리  비공개처리
...       ...   ...   ...    ...   ...     ...      ...      ...    ...
24191  567191  None  None  비공개처리  None   비공개처리    비공개처리    비공개처리  비공개처리
24192  567191  None  None  비공개처리  None   비공개처리    비공개처리    비공개처리  비공개처리
24193  567192  None  None  비공개처리  None   비공개처리    비공개처리    비공개처리  비공개처리
24194  567193  None  None  비공개처리  None   비공개처리    비공개처리    비공개처리  비공개처리
24195  567194  None  None  비공개처리  None   비공개처리    비공개처리    비공개처리  비공개처리

[8372 rows x 9 columns]

In [5]:
data[data['title']!='비공개처리'].isnull().sum()

code        0
sdays       0
edays       0
title       0
count       0
content     0
category    0
progress    0
link        0
dtype: int64

In [6]:
data = data[data['title']!='비공개처리']

In [7]:
data['sdays'] = pd.to_datetime(data['sdays'])
data['edays'] = pd.to_datetime(data['edays'])

data['count'] = pd.to_numeric(data['count'])

In [33]:
from konlpy.tag import Okt

okt = Okt()

doc_nouns_list = [' '.join(okt.nouns(doc)) for doc in data['content']]

print(doc_nouns_list)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [1]:
len(data)

NameError: name 'data' is not defined

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(min_df=2)  # 한 번만 나타나는 단어들은 무시
tfidf_matrix = tfidf_vectorizer.fit_transform(doc_nouns_list)

from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [36]:
cosine_sim

array([[1.        , 0.01567837, 0.01570999, ..., 0.0153856 , 0.02065467,
        0.        ],
       [0.01567837, 1.        , 0.03947423, ..., 0.01486108, 0.04768357,
        0.        ],
       [0.01570999, 0.03947423, 1.        , ..., 0.00675454, 0.05174579,
        0.        ],
       ...,
       [0.0153856 , 0.01486108, 0.00675454, ..., 1.        , 0.00566219,
        0.        ],
       [0.02065467, 0.04768357, 0.05174579, ..., 0.00566219, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [37]:
indices = pd.Series(data.index, index=data['title']).drop_duplicates()

In [38]:
indices

title
용인 D대학의 갑질을 고발합니다. 제 동생의 억울함을 풀수있도록 도와주세요!                   0
미세먼지 정말 방법이 없는건가요. 안하는 건가요.                                  1
트럼프 대통령!...견조 하십니다.!                                         2
어린이집 교사 대표 원장등 인성교육좀 해주세요                                    3
운전직 종사자 인권, 복지, 근로여건, 처우개선                                   4
                                                         ...
청년지원 조건이 너무 까다롭습니다.                                      24183
자유한국당 혹시 위헌정당 아닌가요?                                      24184
건축현장쓰래기를조경해하는화단에묻고나무를심어도되는지요                             24185
대한민국 국민의 한 사람으로서 '태극기 사적 사용금지'를 위한 법률 개정을 건의합니다.(전체글)    24186
TV조선과 조선일보의 막말이나 막글은 방송심의 대상이 아닌가요?                      24188
Length: 15824, dtype: int64

In [39]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # 청원 타이틀로부터 해당되는 인덱스를 받아옴.
    idx = indices[title]

    # 모든 청원에 대해서 해당 청원과의 유사도 추출.
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    movie_indices = [i[0] for i in sim_scores]
    movie_similarity = [i[1] for i in sim_scores]

    df_sim = pd.DataFrame({'title':data['title'].iloc[movie_indices], 'sim': movie_similarity})

    return df_sim

In [40]:
df_pr_count = data.reset_index(drop=True)

In [41]:
data = data.reset_index(drop =True)

In [42]:

df_sim_total = pd.DataFrame()

for i in range(len(df_pr_count)):
    
    df_sim = get_recommendations(df_pr_count['title'][i]) # 함수에 적용 
    
    df_sim = df_sim[df_sim['sim']>=0.20] 
    
    df_end = pd.concat([data.iloc[df_sim.index],df_sim[['sim']]],axis=1)
    
    df_end['link'] = df_end['code'].apply(lambda x: 'https://www1.president.go.kr/petitions/'+str(x))
    
    df_end['id'] = i
    
    df_sim_total = pd.concat([df_sim_total, df_end],axis=0)
    
    df_sim_total = df_sim_total.reset_index(drop=True)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [ ]:
df_sim = get_recommendations(df_pr_count['title'][2]) # 함수에 적용 
    
df_sim = df_sim[df_sim['sim']>=0.20]

In [ ]:
df_sim

In [101]:
doc1 = "나는 바나나를 많이 많이 좋아해."
doc2 = "나는 사과를 정말 좋아해."
doc3 = "나는 데이터 분석을 많이 한다."
doc4 = "그는 유사도 검정을 한다."

In [102]:
def Jaccard_similarity(doc1, doc2):
    
    # 띄어쓰기 기준으로 분리
    doc1 = doc1.split() 
    doc2 = doc2.split()
    
    # 중복 단어 제거 후 합집합과 교집합 
    uni = set(doc1).union(set(doc2))
    inter = set(doc1).intersection(set(doc2))
    
    print(uni)
    print(inter)
    
    return len(inter)/len(uni)

In [103]:
JaccardSimilarity(doc1, doc2)

{'좋아해.', '나는', '많이', '바나나를', '정말', '사과를'}
{'좋아해.', '나는'}

0.3333333333333333

In [104]:
JaccardSimilarity(doc2, doc3)

{'데이터', '좋아해.', '나는', '많이', '한다.', '분석을', '정말', '사과를'}
{'나는'}

0.125

In [105]:
JaccardSimilarity(doc3, doc4)

{'나는', '한다.', '많이', '분석을', '검정을', '그는', '데이터', '유사도'}
{'한다.'}

0.125

In [106]:
doc_list = [doc1, doc2, doc3, doc4]

In [107]:
doc_list

['나는 바나나를 많이 많이 좋아해.', '나는 사과를 정말 좋아해.', '나는 데이터 분석을 많이 한다.', '그는 유사도 검정을 한다.']

In [108]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorizer.fit_transform(doc_list).toarray()  #  각 단어의 빈도수 기록

array([[0, 0, 1, 0, 2, 1, 0, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0],
       [0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1]], dtype=int64)

In [109]:
print(vectorizer.vocabulary_)

{'나는': 2, '바나나를': 5, '많이': 4, '좋아해': 10, '사과를': 7, '정말': 9, '데이터': 3, '분석을': 6, '한다': 11, '그는': 1, '유사도': 8, '검정을': 0}

In [112]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidfv = TfidfVectorizer().fit(doc_list)  # tf-idf를 자동 계산 
print(tfidfv.transform(doc_list).toarray())
print(tfidfv.vocabulary_)

[[0.         0.         0.30037873 0.         0.74205499 0.47060133
  0.         0.         0.         0.         0.37102749 0.        ]
 [0.         0.         0.36674667 0.         0.         0.
  0.         0.57457953 0.         0.57457953 0.4530051  0.        ]
 [0.         0.         0.33406745 0.52338122 0.41263976 0.
  0.52338122 0.         0.         0.         0.         0.41263976]
 [0.52547275 0.52547275 0.         0.         0.         0.
  0.         0.         0.52547275 0.         0.         0.41428875]]
{'나는': 2, '바나나를': 5, '많이': 4, '좋아해': 10, '사과를': 7, '정말': 9, '데이터': 3, '분석을': 6, '한다': 11, '그는': 1, '유사도': 8, '검정을': 0}

In [119]:
from sklearn.metrics.pairwise import linear_kernel
print(linear_kernel(tfidfv.transform(doc_list), tfidfv.transform(doc_list)))

[[1.         0.27824025 0.40654815 0.        ]
 [0.27824025 1.         0.12251812 0.        ]
 [0.40654815 0.12251812 1.         0.17095201]
 [0.         0.         0.17095201 1.        ]]

In [120]:
from sklearn.metrics.pairwise import cosine_similarity

print(cosine_similarity(tfidfv.transform(doc_list)))

[[1.         0.27824025 0.40654815 0.        ]
 [0.27824025 1.         0.12251812 0.        ]
 [0.40654815 0.12251812 1.         0.17095201]
 [0.         0.         0.17095201 1.        ]]